.header-main {
	background-color: #369BC8;
	color: white;
    margin-top: -2rem;
    padding: 1.3rem;
    font-family: 'Raleway', Helvetica, sans-serif;    
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #DFEFF6 !important;
    color: #369BC8 !important;
}

h1 {
	text-align: center;
    font-size: 72px;
}

.bc-margin-bottom-36 {
    margin-bottom: 3.6rem;
}

.bc-margin-bottom-72 {
    margin-bottom: 7.2rem;
}

.bc-margin-top-36 {
    margin-top: 3.6rem;
}

.logo-height {
    height: 15rem;
}

.bc-navbar {
    border-bottom: #AFD8E9 solid 1px;
/*    position: fixed;*/
}

.bc-about-me__pictures {
    max-height: 25rem;
    max-width: 100%;
}

.bc-about-me__pictures-braden {
   max-width: 20%; 
}
.bc-canopy {
    background-color: #4CA551;
    min-height: 400px;
    color: white;
}

.bc-canopy__logo {
    height: 8rem;
}

.bc-oit {
    background-color: #0B3467;
    min-height: 400px;
    color: white;
}

.bc-oit__logo {
    height: 16rem;
}

.bc-resume {
    font-size: 3.6rem;
}

.bc-resume__img {
/*    border: 1px solid black;*/
    width: 80%;
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);
}

.infinite-color {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear; 
}

.palindrome__title {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight: bold;
    font-size: 36px;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15rem;
    margin-bottom: 4rem;
	text-align: center;
}

.palindrome__inputs {
	text-align: center;	
	margin-top: 10px;
    max-width: 75%;
}

.bc-palindrome__answer {
    font-size: 2.4rem;
}

.bc-font__railway {
    font-family: 'Raleway', Helvetica, sans-serif;
}

.home__div {
    font-size: 3.6rem;
    margin-top: 2rem;
}

.palindrome {
/*	background-image: url('palindrominator/images/blue pattern.jpg');*/
}