<!doctype html>

<html lang="en" ng-app="app">
	<head>
		<title>Braden Casperson | The Site</title>
		<link rel="stylesheet" href="index.styles.css">
        <!-- Latest compiled and minified CSS -->
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-theme.min.css">
        
        <!-- Animate.css -->
        <link rel="stylesheet" href="assets/animate.css">
        
        <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
        
        <!-- jQuery -->
        <script src="assets/jquery-2.1.4.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        
        <!-- Angular, Baby! -->
        <script src="assets/angular.js"></script>
        
        <script src="index.js"></script>
        
        <link href='https://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
	</head>
	<body ng-controller="BradenController as vm">
        <div class="header-main">
            <h1 class="text-center">Braden Casperson</h1>
            <p class="text-center">I like code</p>
        </div>
        <div class="bc-navbar">
            <ul class="nav nav-pills nav-justified bc-nav">
                <li role="" class=""><a href="index.html">Home</a></li>
<!--                <li role=""><a href="#">Play With Me</a></li>-->
                <li role="" class="active"><a href="palindrominator.html">Palindrominator</a></li>
                <li role="" class=""><a href="resume.html">Résumé Download</a></li>
            </ul>
        </div>
            
        <div class="text-center animated bounceInLeft bc-margin-top-32 bc-font__railway">This is the classic Palindrome programming exercise that I coded.</div>
        <div class="text-center palindrome animated bounceInLeft">
            <div class="palindrome__title text-center infinite-color">
                <p>Enter a Word or Number to See If It Is a Palindrome</p>
            </div>	

            <div class="palindrome__inputs container-fluid">
                <input type="text" class="form-control" placeholder="Enter your word or number" ng-model="vm.palindromeInput"><br>
                <p class="bc-palindrome__answer bc-font__railway">{{vm.palindromeInput}}</p>
                <button class="btn btn-primary btn-lg" ng-click="vm.palCheck()">Palindrominate</button>
            </div>
            <div class="bc-palindrome__answer bc-font__railway bc-margin-top-36 animated fadeIn">{{vm.palindromeResults}}</div>
        </div>
        
        <div
	</body>
</html>